body {
    font-family: Arial, sans-serif;
    margin: 20px;
    /*background:linear-gradient(to left,rgb(145, 52, 189),rgb(41, 99, 160)) ;*/
    background-image: url(../images/IMG-POST/Fondo-Post3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transition: 0.5s;
}

/*-------------------------------------------------------------------------------
Dando estilo del espacio que contendra las imagenes que se van a subir*/

.Vista {
    background:rgba(196, 223, 223, 0.493);
    width: 24rem;
    height: 27rem;
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    box-shadow: -1px 2px 6px 5px  #374b41a6;
    

}

.IMGVista img{
    width: 21rem;
    height: 20rem;
    border-radius: 4px;
    margin-top: 10px;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 6px;
    background: transparent;
    z-index:1;
}


/*---------------------------------------------------------------------------------------
Diseño del input de cargar achivo*/
.formatear{
    display: none;
}

.formatear + label{
    display: flex;
    flex: 1;
}

.formatear__formatear-button,
.formatear__formatear-name{
   padding: 5px 10px;
}

.formatear__formatear-name{
    background-color: #EEE;
    border: 1px solid #CACACA;
    flex: 1;
    background:rgba(29, 70, 119, 0.4);
    color: white;
}

.formatear__formatear-name span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    width: 190px;
    display: block;
   
}

.formatear__formatear-button{
    background: black url(../images/folder.png) 4px center/25px no-repeat ;
    border: 2px solid rgb(146, 23, 146); 
    color: #FFF;
    white-space: nowrap;
    border-radius: 4px 0 0 4px ;
    padding-left: 33px;
    cursor: pointer;
}

.formatear__formatear-button:hover{
    background-color: #0e8ea1;
}

/*------------------------------------------------------------------------------------------*/

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

/*--------------------------------------------------------------------------------------------
   Diseño del button de cargar imagen*/

.Cargar{
    background: black;
    cursor: pointer;
    padding: 5px 32px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

.Cargar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
        45deg,
        red,blue, deeppink,blue,
         red, blue, deeppink, blue
    );

    background-size: 800%;
    border-radius: 10px;
    filter: blur(6px);
    animation: efecto 20s linear infinite;
}

.Cargar:hover{
    background-color: #09f;
}

@keyframes efecto{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0;
    }
}




/*----------------------------------------------------------------------------
  Dando estilo a la parte de escribir un nuevo post*/

.Titulo{
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
}

.newPost{
    background:rgba(196, 223, 223, 0.493);
    border-radius: 6px;
    width: 700px;
    text-align: center;
    box-shadow: -1px 2px 6px 5px  #374b41a6;
}

.newPost span{
    color: white;
    font-size: 1.5rem;
    
}
  
#post{
    width: 550px;
    height: 170px;
    background:rgba(29, 70, 119, 0.4);
    border: 2px solid rgb(8, 23, 52) ;
    color: white;
}

#title{
    width: 440px;
    height: 40px;
    border-radius: 4px;
    background:rgba(29, 70, 119, 0.4);
    border: 2px solid rgb(8, 23, 52) ;
    color: white;
}


/*-----------------------------------------------------------------------------------------
Diseño del button de publicar*/

.Publicar{
    border: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF
    );
    border-radius: 8px;
    color: #fff;
    height: 52px;
    font-size: 16px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

.Publicar span{
    background-color:black;
    padding: 6px 14px;
    border-radius: 6px;
    transition: .3s;
    color: #fff;
}

.Publicar:hover span{
    background: none;
}

.Publicar:active{
    transform: scale(0.9);
}

/*--------------------------------------------------------------------------------------------------*/