body{
    background-image: url(../images/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.card{
    width: 32rem;
    height: 32rem;
    background:rgba(11, 27, 71, 0.5);
    color: white;
}

.btn{
    background-color: rgb(21, 42, 73);
    color: white;
}

.btn:hover{
    background-color: rgb(24, 64, 122);
}


.link{
    color: cyan;
}

.link:hover{
    cursor: pointer;
    color:aquamarine;
}

.Forgotten-password {
    color: cyan;
    float: left;
    padding:0;
    text-decoration: none;
}

.Forgotten-password:hover{
    color:aquamarine; 
}
